{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block extra_head %}
<style>
  .controls {
    gap: 1rem;
  }
  .table td, .table th {
    padding-left: 14px;
    padding-right: 16px;
  }
  .table th {
    text-align: left;
  }
  .welcome-bar h4{
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .controls h2{
    font-size: 1.4rem;
  }
  .form-select:focus {
    border-color: #808080;
    box-shadow: 0 0 0 0.2rem rgba(27, 27, 27, 0.25);
  }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">

  <div class="welcome-bar">
    <h4>Bem-vindo, {{current_user.username}}  <i class="bi bi-cash-coin"></i></h4>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">

      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 controls">
        <h2 class="mb-3 mb-md-0 text-center text-md-start">
          Contas mês {{ mes }}
        </h2>

        <div class="d-flex align-items-center">
          <a href="{{ url_for('expenses.add_expense') }}" class="btn btn-danger me-2">
            Nova Conta
          </a>
          <form method="get" class="mb-0">
            <select name="mes"
                    onchange="this.form.submit()"
                    class="form-select">
              {% for m in range(1,13) %}
              <option value="{{ m }}" {% if m == mes %}selected{% endif %}>
                {{ m | month_name }}
              </option>
              {% endfor %}
            </select>
          </form>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table-light">
            <tr>
              <th>Origem</th>
              <th>Vencimento</th>
              <th>Valor/Parcela</th>
              <th>Status</th>
              <th>Quem paga</th>
              <th>Tipo</th>
              <th>Parcela</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for e in expenses %}
            <tr>
              <td>{{ e.origem }}</td>
              <td>{{ e.vencimento.strftime('%d/%m/%Y') }}</td>
              <td>R$ {{ '%.2f'|format(e.valor) }}</td>
              <td class="text-nowrap">
                {% if e.status == 'Pago' %}
                  <a href="{{ url_for('expenses.toggle_status', id=e.id, mes=mes) }}"
                     class="text-success text-decoration-none">
                    Pago
                  </a>
                {% else %}
                  <a href="{{ url_for('expenses.toggle_status', id=e.id, mes=mes) }}"
                     class="text-danger text-decoration-none">
                    A pagar
                  </a>
                {% endif %}
              </td>
              <td>{{ e.quem_paga or '-' }}</td>
              <td class="text-nowrap">{{ e.tipo }}</td>
              <td>{{ e.parcel_number }}/{{ e.parcelas }}</td>
              <td class="text-nowrap">
                <form method="POST"
                      action="{{ url_for('expenses.delete_expense', id=e.id, mes=mes) }}"
                      onsubmit="return confirm('Confirma exclusão da conta {{e.origem}} ?');"
                      style="display:inline">
                  <button type="submit"
                          class="btn btn-lg-dark bootstrap-icons p-0"
                          title="Excluir">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>

                <a href="{{ url_for('expenses.edit_expense', id=e.id, mes=mes) }}"
                   class="btn btn-lg-dark bootstrap-icons p-0 ms-2"
                   title="Editar">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td colspan="5"><strong>R$ {{ '%.2f'|format(total) }}</strong></td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}